<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jewel.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @jewel.desc %>
</p>

<p>
  <strong>Type:</strong>
  <%= @jewel.jewel_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @jewel.size %>
</p>

<p>
  <strong>Image:</strong>
  <%= @jewel.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @jewel.price %>
</p>

<%= link_to 'Edit', edit_jewel_path(@jewel) %> |
<%= link_to 'Back', jewels_path %>
