<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <script src="/assets/fabric.js"></script>
  <script src="/assets/builder_funcs.js"></script>
  <script src="/assets/save_canvas_as_png.js"></script>

  <div id="builder"> 
  <div id="upperContent">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :product_name %>
    </div>

    <div class="field">
      <%= form.label :desc %>
      <%= form.text_area :desc, id: :product_desc %>
    </div>

    <input id="image" type="hidden" value="" name="image"/>
    
    <div class="row">

      <div id="leftContent" class="col-3">

        <div id="jewType">
          <div>Выберите проектируемое изделие:</div>
          <%= form.select(:style, options_for_select([["Ring", 1], ["Necklace", 2]], 1)) %>
        </div>

        <hr>

        <div id="personalParams">
          <div>Персональные параметры:</div>
          <div class="block">Размер кольца <%= form.number_field(:size, in: 17..30) %></div>
        </div>

      </div>

      <div id="canvasContent" class="col-6"> 
        <canvas id="canvas" width="500" height="400"></canvas>

      </div>

      <div id="rightContent" class="col-3">
        <div id="buyForm">
          К оплате и доставке <a href="">-&gt;</a>
        </div>
        <div id="price" class="block">
          Цена: <%= form.number_field(:price) %>
        </div>

        <hr>

        <div id="colorButtons">
          <div id="colorHeader">Цвета:</div>
          <div class="row"  class="block">
          <div id="rowButtons">
            <button id="blue"></button>
            <button id="purple"></button>
            <button id="red"></button>
            <button id="lightgreen"></button>
            <button id="grey"></button>
            <button id="grey"></button>
            <button id="aqua"></button>
            <button id="orange"></button>
            <button id="yellow"></button>
            <button id="green"></button>
          </div>
          </div>
        </div>

        <div id="saveButton">
          <button onclick="saveImg();">Save</button>
        </div>
      </div>

    </div>
  </div>

  <div id="elementButtons">
    <div class="row">
  
      <div id="buttonsText" class="block">
      Комбинируйте основные модули
      </div>

      <button id="squareElement">
        <img src="/assets/squares.jpg" />
      </button>

      <button id="circleElement">
        <img src="/assets/circles.jpg" />
      </button>

      <button id="pinElement">
        <img src="/assets/pins.jpg" />
      </button>

      <button id="planeElement">
        <img src="/assets/planes.jpg" />
      </button>

    </div>
  </div>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
