<!DOCTYPE html>
<html>
  <head>
    <title>JewelryShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div id='profile_line'>
      <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Профиль', profile_path %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
